* body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ----- banner-section ------ */
.banner {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), #1c655d), url(images/donation13.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
    width: 80%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
    color: #fff;
    margin: 0;
}

.text-box p {
    margin: 40px 0 40px;
    line-height: 25px;

}

.common-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #FF5959;
    padding: 15px 35px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.common-btn:hover {
    background-color: #f44336;
    color: white;
    transition: 0.8s;
}

/* ------ donate-doday ------ */
.donate-today {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.donate-today h1 {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

.donate-today p {
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.donate-row {
    width: 60%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

.donate-col {
    flex-basis: 31%;
    background: #FAFAFA;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 5%;
    margin-left: 15px;
    padding: 20px 12px;
}

h2 {
    text-align: center;
    font-weight: 700;
    color: #777;
}

#tk {
    flex-basis: 31%;
    background: #FFEEEE;
    border-radius: 10px;
    border: 2px solid #f44336;
    margin-bottom: 5%;
    padding: 20px 12px;
    margin-left: 15px;
}

#tk h2 {
    color: #FF5959;
}

.Other-Amount input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 20px 0;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 3px solid #ddd;

}

.donate-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #FF5959;
    padding: 15px 35px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}


/* ----- donate-plan ------ */

.donate-plan {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.donate-plan h1 {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

.donate-plan p {
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;



}

.donate-plan-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.donate-plan-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 60px 35px 20px 20px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: left;
}

.donate-plan-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.donate-plan-col h3 {
    font-weight: 600;
    margin: 10px 0;
}

#bg-color-1 {
    background-color: #d8f5f8;
}

#bg-color-2 {
    background-color: #fff3f3;
}

#bg-color-3 {
    background-color: #fdfedb;
}

/* ------ our-activity ------- */

.our-activity {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.our-activity h1 {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

.our-activity h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.our-activity p {
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

.our-activity-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.our-activity-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.our-activity img {
    width: 100%;
    height: 350px;
}

.our-activity p {
    padding: 0;
}

.our-activity h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* ----- from-section ----- */
.from-section {
    width: 50%;
    margin: auto;
}

.from-section h1 {
    text-align: center;
    font-size: 35px;
    color: #777;
}

.from-contact-col {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.from-contact-col input,
.from-contact-col textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.from-contact-col button {
    width: 25%;

}

/* -- contact-us -- */

.contact-us {
    margin: 80px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), #1c655d), url(images/donation0.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.contact-us h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    font-size: 39px;
}

.contact-us a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #FF5959;
    padding: 12px 34px;
    font-size: 13px;
    cursor: pointer;

}

/* ----- get-update ----- */
.get-update {
    width: 66%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.get-update h1 {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

.get-update p {
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.email-box {
    width: 809px;
    height: 200px;
    background-color: #FFF4D6;
    margin: 50px 100px 130px 100px;
}

.email-subscribe {
    padding: 10%
}

#email {
    padding: 15px;
    border: none;
    color: #969595;
    background-color: #D9D9D9;
    font-weight: bold;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

button {
    padding: 15px;
    border: none;
    background-color: #FF5959;
    color: white;
    font-weight: bold;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

}

/* ---- footer ----- */

footer {
    width: 100%;
    height: 300px;
    text-align: center;
    padding: 30px 0;
    background-color: black;

}

footer h1 {
    color: white;
    font-family: 'Lobster', cursive;
}

footer h4 {
    color: white;
    font-size: 22px;
}

footer p {
    color: #FF5959;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

footer .color-white {
    color: white;
}